{% extends 'edso_app/base.html' %}

{% block content %}
<h2 class="text-center">About Us</h2>

<div class="row">
    <div class="col-md-8 mx-auto">
        <p>
            Welcome to EDSO Services, a leading provider of technical education and services. We are dedicated to helping individuals and businesses achieve their full potential through high-quality courses and expert training.
        </p>

        <h3>Our Mission</h3>
        <p>
            Our mission is to provide world-class education and technical services that meet the evolving needs of students and professionals alike. We aim to empower learners to succeed in an ever-changing world of technology.
        </p>

        <h3>Our History</h3>
        <p>
            Founded in 2024, EDSO Services has grown to become a recognized leader in technical education. With a team of highly skilled instructors and state-of-the-art facilities, we continue to provide top-notch training and services to our students and clients.
        </p>

        <h3>Our Values</h3>
        <ul>
            <li>Excellence in Education</li>
            <li>Commitment to Innovation</li>
            <li>Customer-Centric Approach</li>
            <li>Integrity and Transparency</li>
        </ul>

        <h3>Contact Information</h3>
        <p>
            For more information, please visit our Contact Us page or reach out to us directly:
        </p>
        <ul>
            <li>Email: support@edso.com</li>
            <li>Phone: +1-800-123-4567</li>
        </ul>
    </div>
</div>
{% endblock %}
