{% extends 'edso_app/base.html' %}

{% block content %}
<h2 class="text-center">Member Dashboard</h2>
<h4>Manage Students and Courses</h4>
<div class="row">
    <div class="col-md-6">
        <h5>Courses</h5>
        <ul>
            {% for course in courses %}
            <li>{{ course.name }} - <a href="{% url 'edit_course' course.id %}">Edit</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h5>Students</h5>
        <ul>
            {% for student in students %}
            
            <li>{{ student.username }} - 
                
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
